@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

header {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: transparent;
    align-items: center;
    justify-content: space-around;
}

body {
    background-color: #06141d;
}

.wrap {
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.logo {
    width: 70px;
    height: 70px;
    border-radius: 70%;
    background-color: transparent;
    justify-content: center;
    display: flex;
    align-items: center;
}

.logo h2 {
    color: #ccd0cf;
    font-family: "Anonymous Pro", sans-serif;
}

.title {
    margin-left: 40px;
}

.title h2 {
    font-family: "Anonymous Pro", sans-serif;
    color: #ccd0cf;
}

.navigate {
    display: flex;
}

.navigate li {
    margin: 20px;
    justify-content: flex-end;
    list-style: none
}

.navigate li a {
    text-decoration: none;
    font-size: 20px;
    font-family: "Anonymous Pro", sans-serif;
    color: #ccd0cf;
}

.navigate li a:hover {
    background: transparent;
    color: #253745;
}