@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

header {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: transparent;
    align-items: center;
    justify-content: space-around;
}

body {
    background-color: #561c24;
}

.wrap {
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.logo {
    width: 70px;
    height: 70px;
    border-radius: 70%;
    background-color: transparent;
    justify-content: center;
    display: flex;
    align-items: center;
}

.logo h2 {
    color: #e8d8c4;
    font-family: "Anonymous Pro", sans-serif;
}

.title {
    margin-left: 40px;
}

.title h2 {
    font-family: "Anonymous Pro", sans-serif;
    color: #e8d8c4;
}

.navigate {
    display: flex;
}

.navigate li {
    margin: 20px;
    justify-content: flex-end;
    list-style: none
}

.navigate li a {
    text-decoration: none;
    font-size: 20px;
    font-family: "Anonymous Pro", sans-serif;
    color: #e8d8c4;
}

.navigate li a:hover {
    background: transparent;
    color: #c787a3;
}

/* Slide */

.slider {
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
    
}

.slides input {
    display: none;

}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 800px;
    border-radius: 10px;
}

.manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.75s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: white;
}

#radio1:checked ~ .first{
    margin-left: 0%;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

.navigation-auto div {
    border: 2px solid navy;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.75s;
}

.navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: white;
}